.container {
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
 
}
.input-group{
    display: flex;

}
.input-grou input{
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
}

#addbtn{
   
    padding: 12px 30px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(79, 162, 162);
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  cursor: pointer;
}
li {
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li span {
  cursor: pointer;
}

li button {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}